.section-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.iframe-container {
    width: 100%;
    height: 400px;
    border: 0;
    margin: 0;
}

#main-container {
    position: relative;
}

.events-section {
    position: relative;
    background-image: url('images/top.image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50%;
    overflow: hidden; 
}

.events-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
}

.events-content {
    position: relative;
    z-index: 1; 
    color: black; 
    padding: 20px; 
}

.image-list {
    position: relative;
    z-index: 1; 
}

.content {
    padding: 20px; 
}
