body {
    font-family: Arial, sa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0074a2;
    color: white;
    padding: 20px;
    text-align: center;
}

.headerimg {
    max-width: 100%;
    height: 50%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.main-nav {
    position: relative;
    color: #000;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

.hero {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

.exhibits {
    padding: 20px;
    text-align: center;
}

.exhibit {
    display: inline-block;
    width: 300px;
    margin: 20px;
}

.exhibit img {
    width: 100%;
}

footer {
    background-color: #0074a2;
    color: white;
    text-align: center;
    padding: 10px;
}
